@model Beepoy.Web.Models.Beep

@{
    
    Html.EnableUnobtrusiveJavaScript(true);

   }
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function ($) {

        $("#loading").hide()
    
        $("a.share-beep").click(function () {
            $("form").submit();
        });

        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "http://beepoy.com/Content/Images/icons/calendar.png",
            buttonImageOnly: true
        });
    });

</script>

@using (Ajax.BeginForm("create", "beeps", null, new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loading" }, null))
{
    @Html.ValidationSummary(true)
                	<div class="share-itens">
                    <div id="loading">Loading...</div>
                    <div id="result"></div>    
                    @Html.ValidationMessageFor(model => model.Text)    

                    @Html.DropDownList("PlaceId", String.Empty)

                	<span class="share-title">Share: </span>
                    
                    <a href="#" class="share-status"> Status </a>

                    <a href="#" class="share-photo"> Photo </a>
                    
                    <a href="#" class="share-link"> Link </a>
                    
                    <a href="#" class="share-video"> Video </a>
                    
                    <div class="share-box">
                        <div class="share-arrow"></div>
                       	@Html.TextAreaFor(model => model.Text)
                    </div>
                    
                    <div class="share-line">
                    
                    	<a class="share-where" href="#"></a>

                        <a class="share-when" href="#"><input type="text" id="datepicker" /></a>
                        
                        <a class="share-lock" href="#"></a>
    
                        <a class="share-beep" href="#">Beep</a>
                    
                    </div>
   					
                 </div>
}