@model Beepoy.Web.Models.Beep

@{
    
    Html.EnableUnobtrusiveJavaScript(true);

   }
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function ($) {

        $("#loading").hide()
    
    });

    $("textarea[maxlength]").keypress(function (event) {
        var key = event.which;

        //todas as teclas incluindo enter
        if (key >= 33 || key == 13) {
            var maxLength = $(this).attr("maxlength");
            var length = this.value.length;
            if (length >= maxLength) {
                event.preventDefault();
            }
        }
    });
</script>

@using (Ajax.BeginForm("create", "beeps", null, new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loading" }, null))
{
    @Html.ValidationSummary(true)
                	<div class="share-itens">
                    <div id="loading">Loading...</div>
                    <!--div id="result"></div>    
                    @Html.ValidationMessageFor(model => model.Text)    

                    @Html.DropDownList("PlaceId", String.Empty)

                	<span class="share-title">Share: </span>
                    
                    <a href="#" class="share-status"> Status </a>

                    <a href="#" class="share-photo"> Photo </a>
                    
                    <a href="#" class="share-link"> Link </a>
                    
                    <a href="#" class="share-video"> Video </a -->
                    
                    <div class="share-box">
                        <label for="teste"><em>What's happening?</em></label>
                       	@Html.TextAreaFor(model => model.Text, new { id = "box-what", title="What?", @maxlength = "140" })
                    </div>
                    
                    <div class="share-line">
                    
                    	<a class="share-where" href="#" title="Where?"></a>

                        <a class="share-when" href="#" title="When?">
                            <input type="text" id="datepicker" name="DateWhen" style="visibility: hidden" />
                        </a>
                        
                        <!-- a class="share-lock" href="#"></a -->
    
                        <a class="share-beep" href="#"><span>Beep</span></a>
                    
                        <input type="text" id="address" name="Address" style="visibility: visible" />
                        <input type="text" id="latitude" name="Latitude" style="visibility: hidden" />
                        <input type="text" id="longitude" name="Longitude" style="visibility: hidden" />

                    </div>
   					
                 </div>
}