@model Beepoy.Web.Models.Beep

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm( new AjaxOptions{) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Beep</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BeepIdFather)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BeepIdFather)
            @Html.ValidationMessageFor(model => model.BeepIdFather)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateInsert)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateInsert)
            @Html.ValidationMessageFor(model => model.DateInsert)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateUpdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateUpdate)
            @Html.ValidationMessageFor(model => model.DateUpdate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

