@model IEnumerable<Beepoy.Web.Models.Beep>


@foreach (var item in Model) {
    <tr>
        <td>
            @item.Text
        </td>
        <td>
            @item.UserId
        </td>
        <td>
            @item.EventId
        </td>
        <td>
            @item.PlaceId
        </td>
        <td>
            @item.BeepIdFather
        </td>
        <td>
            @String.Format("{0:g}", item.DateInsert)
        </td>
        <td>
            @String.Format("{0:g}", item.DateUpdate)
        </td>
    </tr>
}


