@model Beepoy.Web.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";

}


@section head{        
    @{   Html.RenderPartial("_ScriptBeeps");
         
         
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
            <script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/map/action.js")"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/map/geo.js")"></script>
         
         }
  

  
}


        <div id="menu-l">
        
        	<div id="menu-perfil">
            
            	<span class="back-home">
                
                	<a href="#">Beeps</a> 
                
                </span>
                
                <span class="what">

                
                	<a href="#"> What?</a>
                
                </span>
            
            </div>
            
            <div id="share">
                    @Html.Action("create", "beeps")
                 
            </div>
                        
            <div id="list-itens-home">
                
                  @Html.Action("streams", "users")
            </div>
            
        </div>

        
        <div id="content">
        
        	<div class="content-menu">
            
            	<span class="menu-location">
                
                	<a href="#">Information</a> 
                
                </span>
                
                <span class="menu-where">
                
                	<a href="#" class="add-place"> Add Place</a>
                    
                    <a href="#" class="add-event"> Add Event</a>

                
                </span>
            
            </div>
            
            <div id="information">
            
            	<div class="info-tracking">
                
                	<div class="info-title">
                    
                    	Tracking
                    
                    </div>
                	
                    <div class="info-tracking-box">
                    
                    	<span class="event-title">Friends </span>

                        
                    	<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
                    
                    </div>
                    
                    <div class="info-tracking-box">
                    
                    	<span class="event-title">Places</span>

                        
                    	<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
                    
                    </div>
                    
                    <div class="info-tracking-box lastitem">
                    
                    	<span class="event-title">Event</span>

                    
                    	<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
                    
                    </div>
                
                </div>
                
                <div class="info-tracking trackers">

                
                    	<div class="info-title">
                    
                    		Trackers
                    
                    	</div>
                        
                        <div class="info-tracking-box lastitem">
                    
                    		<span class="event-title">Friends</span>
                    
                    	<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />

						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
						
						<img src="Content/Images/thumb-face.jpg"  class="box-faces"   />
                    
                    
                    </div>

                </div>
            
            </div>
            
            <div class="content-menu map-menu">
            
            	<span class="menu-location">
                
                	<a href="#">Location</a> 
                
                </span>

                
                <span class="menu-where">
                
                	<a href="#"> Where?</a>
                
                </span>
            
            </div>
            
            
            <div class="map-perfil" id="map">
            
            	
            
            </div>
                    
        </div>


        <div id="timeline">
        
        	<div class="timeline-menu">
            
            	<span class="menu-location">
                
                	<a href="#">Location</a> 
                
                </span>
                
                <span class="menu-when">
                
                	<a href="#"> When?</a>

                
                </span>
            
            </div>
            
            <div class="wrap">
            
            	 @Html.Action("timeline", "users")
            
            </div>
        
        </div>
    

