<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>@ViewBag.Title</title>
    <!-- Scripts -->
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/map/jquery.geolocation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Javascript/acoes.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tipsy.js")" type="text/javascript"></script>
 
    <!-- Estilos -->
    <link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/timeline.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/timeline.style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/tipsy.css")" rel="stylesheet" type="text/css" />

 @RenderSection("head", required: false) 

</head>

<body>

 

	<div id="header-bg">
    
    </div>

    	
    <div id="wrapper">

    	<div id="top-bar">
	        <h6 class="text-hidden"><a href="/" title="Beepoy, rede social de geolocalização">Beepoy</a></h6>
    
	        <ul class="form">
                <li>
        	        <label for="oque">What? <em>Clubs, events...</em></label>
        	        <input type="text" id="oque" />
                </li>
        
                <li>
        	        <label for="onde">Where? <em>Country, city...</em></label>
        	        <input type="text" id="onde" />
                </li>
        
                <li class="small">
        	        <button type="submit" class="button pesquisar">Search</button>
                </li>
        
                <!-- li id="search-bar">
        	        <p><em>Pesquisa por:</em> <strong>Concessionária</strong> em <strong>São Paulo</strong>,</p>
                    <div class="tags">
            	        <a href="" title="" class="oficina">Oficina</a>
                        <a href="" title="" class="carro">Carro</a>
                        <a href="" title="" class="oferta">Oferta</a>
                    </div>
                    <a href="" title="Add nova Tag" class="add-tag">Add Tag</a>
        	        <a href="" title="Fechar Barra" class="close">X</a>
                    <div class="ghost-back"></div>
                </li -->
            </ul>
    
   	        <ul id="menu">
                <li><a href="" title="">Home</a></li>
                <li><a href="" title="">Profile</a></li>
                <li class="user">
                    <a href="" title="" >
            	        <img src="Content/Images/usuario/user.gif" alt="" />
                        <span>username</span>
                    </a>
                    <ul>
                        <li><a href="" title="">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

       @RenderBody()
        

    <!-- END wrapper -->
    </div>
  
    
    <div id="footer">

    	
            	<div id="footer-in">
                
                	<div id="footer-dots">
                    
                    </div>
                    
                    <div id="footer-brand">
                    
                    </div>
                    
                    <div id="footer-menu">
                    
                    	<a href="#"> Home </a>
                        <a href="#"> About </a>
                        <a href="#"> Help </a>
                    
                    </div>
                    
                    <div id="footer-copy">
                        &copy; 2011 Beepoy
                    </div>

                
                </div>
            
        </div>
</body>     


</html>
